# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Intermediate files
src/meta/zp_meta.pb.cc
src/meta/zp_meta.pb.h
src/node/client.pb.cc
src/node/client.pb.h

output
tags
tools/check_binlog_hole
tools/dump_meta
tools/empty_trash
tools/distribution
tools/checknfix
tools/binlog_reader

zp-node
zp-meta
zp-node_debug
zp-meta_debug
